# `While Loop`

In [4]:
print(1)
print(1)
print(1)
print(1)
print(1)
print(1)
print(1)
print(1)
print(1)
print(1)

1
1
1
1
1
1
1
1
1
1

In [1]:
n = int(input())
count = 0
while count < n:
    print(1)
    count += 1
#     count = count + 1

5
1
1
1
1
1

In [4]:
# print first n Natural numbers

n = int(input("Rahul Sir Please Enter your number: "))
count = 1
while count <= n:
    print(count)
    count += 1 # it is equivalent to count = count + 1

Rahul Sir Please Enter your number: 5
1
2
3
4
5

In [6]:
n = int(input())
sum = 0
counter = 1
while counter <= n:
    sum += counter
    counter += 1
    
print(sum)

5
15

In [8]:
n = int(input())
sum = 0
counter = 1
while counter <= n:
    sum += counter
    counter += 1
print(sum)

50
1275

In [9]:
n = int(input())
sum = (n*(n + 1))//2
sum

50

1275

In [11]:
# sum of Even n natural number

n = int(input())
even_sum = 0
counter = 1
while counter <= n:
    if counter %2 == 0:
        even_sum += counter
    counter += 1
    
print(even_sum)

5
6

# `Check Prime`

In [15]:
n = int(input())
d = 2
suraj = False
while d < n:
    if (n % d == 0):
        suraj = True
    d += 1

if suraj:
    print("Not Prime")
else:
    print("Yes it is Prime Number")

4
Not Prime

# `Nested Loop`

In [17]:
n = int(input())
outer = 2
while outer <= n:
    d = 2
    flag = False
    while d < outer:   
        if (outer % d == 0):
            flag = True
        d += 1

    if not(flag):
        print(outer)
    
    outer = outer + 1

5
2
3
5

# `Patterns Problems`

In [ ]:
N = 3

***
***
***


N = 4

****
****
****
****

N = 5

*****
*****
*****
*****
*****

In [21]:
# code
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n:
        print('*', end = '')
        col += 1
    print()
    row += 1

5
*****
*****
*****
*****
*****

# `For Loop`

In [22]:
s = "Deepak"
for ch in s:
    print(ch)

D
e
e
p
a
k

In [23]:
#print num from 1 to n

n = int(input())
for i in range(1 , n , 1):
    print(i)

5
1
2
3
4

In [24]:
#print num from 1 to n

n = int(input())
for i in range(1 , n + 1, 1):
    print(i)

5
1
2
3
4
5

In [25]:
#print num from 1 to n

n = int(input())
for i in range(n + 1):
    print(i)

5
0
1
2
3
4
5

In [26]:
#print num from 1 to n

n = int(input())
for i in range(1,n + 1):
    print(i)

5
1
2
3
4
5

In [28]:
#print num from 1 to n

n = int(input())
for i in range(1,n + 1, 2):
    print(i)

15
1
3
5
7
9
11
13
15

In [29]:
#print num from 1 to n

n = int(input())
for i in range(3,n + 1, 3):
    print(i)

10
3
6
9

In [ ]:
N = 3

***
***
***

In [31]:
n = int(input())
for row in range(1,n + 1):
    for col in range(1 , n + 1):
        print("*",end="")
    print()

4
****
****
****
****

In [ ]:
N = 4

1111
2222
3333
4444

In [32]:
# code
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n:
        print(row, end = '')
        col += 1
    print()
    row += 1

5
11111
22222
33333
44444
55555

In [33]:
n = int(input())
for row in range(1,n + 1):
    for col in range(1 , n + 1):
        print(row,end="")
    print()

4
1111
2222
3333
4444

In [ ]:
N = 4

1234
1234
1234
1234

In [35]:
# code
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n: 
        print(col, end = ' ')
        col += 1
    print()
    row += 1

2
1 2
1 2

In [37]:
n = int(input())
for row in range(1,n + 1):
    for col in range(1 , n + 1):
        print(col,end=" ")
    print()

2
1 2
1 2

In [ ]:
N = 4

4444
4444
4444
4444

In [39]:
# code
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n: 
        print(n, end = ' ')
        col += 1
    print()
    row += 1

3
3 3 3
3 3 3
3 3 3

In [40]:
n = int(input())
for row in range(1,n + 1):
    for col in range(1 , n + 1):
        print(n,end=" ")
    print()

3
3 3 3
3 3 3
3 3 3

In [ ]:
N = 4

4321
4321
4321
4321

In [41]:
# code
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n: 
        print(n - col + 1, end = ' ')
        col += 1
    print()
    row += 1

4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [42]:
n = int(input())
for row in range(1,n + 1):
    for col in range(1 , n + 1):
        print(n - col + 1,end=" ")
    print()

4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [43]:
# code
n = int(input())
row = 1
while row <= n:
    col = n
    while col > 0: 
        print(col, end = ' ')
        col -= 1
    print()
    row += 1

4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [44]:
n = int(input())
for row in range(1,n + 1):
    for col in range(n , 0 ,-1):
        print(col,end=" ")
    print()

4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [ ]:
N = 4

*
**
***
****

In [45]:
# code
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= row: 
        print("*", end = ' ')
        col += 1
    print()
    row += 1

5
*
* *
* * *
* * * *
* * * * *

In [47]:
n = int(input())
for row in range(1,n + 1):
    for col in range(1 , row + 1):
        print("*",end=" ")
    print()

4
*
* *
* * *
* * * *

In [ ]:
N = 4

1
12
123
1234

In [48]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(j, end="")
        j = j + 1
    print()
    i = i + 1

4
1
12
123
1234